<!DOCTYPE html>
<html lang="pl">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Currencies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> {% endblock %}
</head>

<body>

    <form action="" method="post">
        <label for="waluty">Wybierz walutę: </label>
        <select name="waluty" id="waluty">
            <option value="dolar amerykański">dolar amerykański</option>
            <option value="dolar australijski">dolar australijski</option>
            <option value="dolar kanadyjski">dolar kanadyjski</option>
            <option value="euro">euro</option>
            <option value="forint (Węgry)">forint (Węgry)</option>
            <option value="frank szwajcarski">frank szwajcarski</option>
            <option value="funt szterling">funt szterling</option>
            <option value="jen (Japonia)">jen (Japonia)</option>
            <option value="korona czeska">korona czeska</option>
            <option value="korona duńska">korona duńska</option>
            <option value="korona norweska">korona norweska</option>
            <option value="korona szwedzka">korona szwedzka</option>
            <option value="SDR (MFW)">SDR (MFW)</option>
        </select>
        <br>
        <label>Ile chcesz kupić:</label><br><br>
        <input type="number" name="quantity" /><br><br>
        <button type="submit">Przelicz</button>
    </form>
    <div id="content">{% block content %}{% endblock %}</div>
    <br>
</body>

</html>